<div class="container mar-top-30" ng-view>
  <div class="alert alert-success hide" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <h2 class="text-center">Twit Book</h2>
  <twit-page></twit-page>
</div>